@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@200;300;400;500;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Overpass", sans-serif;
}

body {
    scroll-behavior: smooth;
}

p {
    font-weight: 400;
}

/*  ============================================================================================
                                        Header Section
    ============================================================================================    */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(228, 228, 228);
    z-index: 1000;
}

.container-left {
    display: flex;
    background: rgb(30, 126, 182);
    padding: 10px;
    max-width: 100%;
    width: 600px;
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%, 0% 0%);
    align-items: center;
}

.container-left img {
    width: 85px;
}

.container-left h1 {
    color: white;
    padding: 10px;
    margin: 20px;
    border-left: 1px solid white;
}

.container-left h1 span {
    font-size: 15px;
    font-weight: 200;
}

.container-right {
    padding: 20px 30px;
}

.container-right p {
    color: rgb(30, 126, 182);
    font-weight: 600;
}

/*  ============================================================================================
                                        Navbar Section
    ============================================================================================    */

.header-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(247, 247, 247);
    padding: 2px 0;
    z-index: 10000000;
}

.header-navigation .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-navigation .navigation ul {
    list-style: none;
}

.header-navigation .navigation ul li {
    position: relative;
    float: left;
}

.header-navigation .navigation ul li a {
    text-decoration: none;
    padding: 20px;
    color: rgb(30, 126, 182);
    font-weight: 600;
    display: block;
    transition: 0.3s all ease-in-out;
}

.header-navigation .navigation ul li a:hover {
    background: rgb(30, 126, 182);
    color: white;
}

.header-navigation .search {
    margin: 10px;
    position: relative;
}

.header-navigation .search input {
    width: 100%;
    padding: 10px;
    border: 2px solid rgb(30, 126, 182);
    overflow: hidden;
}

.header-navigation .search button {
    padding: 12px 20px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border: none;
    background: rgb(30, 126, 182);
    border-radius: 20px 0 0 20px;
}

.header-navigation .search button a {
    text-decoration: none;
    text-align: center;
    color: white;
}

.header-navigation .search button:hover {
    background: rgb(46, 151, 212);
}


.header-navigation .search input:hover,
.header-navigation .search input:focus-within {
    border: none;
    outline: none;
    border: 2px solid rgb(30, 126, 182);
}

/*  ============================================================================================
                                        Humburger Section
    ============================================================================================    */

.humburger {
    width: 30px;
    height: 4px;
    background: rgb(30, 126, 182);
    border-radius: 20px;
    z-index: 1;
    position: relative;
    top: 0;
    left: 0;
    transition: 0.5s all ease;
    margin: 10px;
}

.humburger::before,
.humburger::after {
    content: "";
    width: 30px;
    height: 4px;
    background: rgb(30, 126, 182);
    border-radius: 20px;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s all ease;
}

.humburger::before {
    top: -10px;
    width: 30px;
}

.humburger::after {
    top: 10px;
    width: 30px;
}

#menubar,
.humburger {
    display: none;
}

.navigation input:checked~.humburger {
    background: transparent;
}

.navigation input:checked~.humburger::before {
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}

.navigation input:checked~.humburger::after {
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}

.navigation ul li ul {
    position: absolute;
    top: 55px;
    left: 0;
    width: 250px;
    background: rgb(247, 247, 247);
    z-index: 1;
    display: none;
}

.navigation ul li ul li {
    width: 100%;
    border-top: 0.5px solid #333;
}

.navigation ul li:focus-within>ul,
.navigation ul li:hover>ul {
    display: initial;
}

/*  ============================================================================================
                                     BG img
    ============================================================================================    */

.header-bg {
    display: block;
    position: relative;
    overflow: hidden;
}

.header-bg img {
    width: 100%;
    height: 500px;
    display: block;
}

.header-bg h3 {
    position: absolute;
    top: 45%;
    left: 43%;
    color: white;
    font-size: 60px;
}

/*  ============================================================================================
                                        Enquire
    ============================================================================================    */

.enquire {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-top: 20px;
}

.enquire .enquire-1 {
    display: block;
    padding: 10px;
    width: 100%;
}

.enquire .enquire-1 form {
    display: block;
    background: white;
    width: 60%;
    border: 5px solid rgb(30, 126, 182);
    height: 50%;
}

.enquire .enquire-1 form h3 {
    padding: 10px;
    text-align: center;
    background: rgb(46, 151, 212);
    border-bottom: 5px solid rgb(14, 80, 117);
    margin: 0 0 10px;
    color: white;
    font-size: 25px;
}

.enquire .enquire-1 form .content-form {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.enquire .enquire-1 form .content-form input {
    padding: 10px;
    border: 2px solid rgb(46, 151, 212);
    border-radius: 10px;
    background: transparent;
    width: 100%;
    margin: 10px 0;
}

.enquire .enquire-1 form .content-form input:hover,
.enquire .enquire-1 form .content-form input:focus-within {
    outline: none;
}

.enquire .enquire-1 form .content-form label {
    padding: 0 8px;
}

.enquire .enquire-1 form button {
    background: rgb(30, 126, 182);
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 400;
    z-index: 1;
    position: relative;
    width: 100%;
    padding: 10px;
    font-size: 17px;
    font-weight: 800;
}

.enquire .enquire-1 form button a {
    text-decoration: none;
    color: white;
}

.enquire .enquire-1 form button::before {
    content: "";
    background: black;
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.4s all ease-in-out;
    overflow: hidden;
}

.enquire .enquire-1 form button:hover::before {
    width: 100%;
}

.enquire .enquire-2 {
    display: block;
    width: 100%;
    position: relative;
}

.enquire .enquire-2 img {
    width: 100%;
}

.enquire .enquire-2 h2 {
    font-size: 20px;
    color: rgb(30, 126, 182);
}

/*  ============================================================================================
                                        Footer
    ============================================================================================    */

.footer {
    display: block;
    margin: 30px 0 0;
    background: rgb(14, 80, 117);
    padding: 20px;
}

.footer h4 {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 600;
}



















































































































































































































/*  ============================================================================================
                                        Media Querry
    ============================================================================================    */

@media screen and (max-width: 750px) {
    /*  ============================================================================================
                                        Header section
    ============================================================================================    */

    .humburger {
        display: block;
    }

    .header {
        flex-direction: column;
        text-align: center;
    }

    .header .container-left {
        background: none;
        width: 100%;
        background: rgb(30, 126, 182);
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
    }

    .header-bg h3 {
        left: 30%;
    }

    /*  ============================================================================================
                                        Navigation Container
    ============================================================================================    */

    .header-navigation {
        position: relative;
    }

    .navigation ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgb(247, 247, 247);
        padding: 70px 0;
        display: none;
        width: 100%;
    }


    .navigation ul li {
        width: 100%;
        border-top: 2px solid #333;
        background: rgb(247, 247, 247);
    }

    .navigation ul li a:hover {
        padding: 20px 30px;
        border-left: 5px solid white;
    }

    .navigation ul li ul {
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;
    }

    .navigation ul li ul li {
        width: 100%;
        margin: 0 0 0 10px;
        border-top: 0.01px solid #333;
    }

    #menubar:checked~ul {
        display: block;
    }

    /*  ============================================================================================
                                        Enquire
    ============================================================================================    */

    .enquire {
        flex-direction: column;
    }

    .enquire .enquire-1 form {
        width: 80%;
        margin: 0 40px;
    }


}